extends layout
block content
	// Content Header (Page header)
	section.content-header
		h1
			| ALMA Monitoring
			small General
		ol.breadcrumb
			li
				a(href='#')
					i.fa.fa-dashboard
					| Template Dashboard
			li.active Dashboard
	// Main content
	section.content
		.row
			.col-md-6
				.box.box-success
					.box-header
						i.fa.fa-exclamation
						h3.box-title Success!

					.box-body
						.alert.alert-success
							i.fa.fa-check-circle
							b New dashboard created!
							| You are doing great
		.row
			.col-lg-4
				.box.box-solid.box-info
					.box-header
						h3.box-title My first widget
					.box-body
						.small-box.bg-green
							.inner
								- var myname = data1.servicename
								- var mydata = data1.data
								h3
									| #{myname}
								h2
									| #{mydata}

							.icon
								i.fa.fa-file-o
			.col-lg-8
				.box.box-solid.box-info
					.box-header
						.pull-right.box-tools
							button.btn.btn-info.btn-sm(data-widget='collapse',data-toggle='tooltip',title='Collapse')
								i.fa.fa-minus
						h3.box-title Data ingested last 30 days
					.box-body.chart-responsive
						#bar-chart1.chart(style='height: 140px;')


		.row
			.col-lg-12
				.box.box-solid.box-info
					.box-header
						h3.box-title My first Table
					.box-body
						table.table.table-bordered.table-hover
							thead
								tr
									th Name
									th MB Total
									th Status
								tbody
								each key in data2
									td #{key.name}
									td #{key.mbtotal}
									td
										- var status = key.status
										if status == "ONLINE"
											span.label.label-success Online
										else
											span.label.label-danger Danger
									tr





block javascript
	// add new calendar event modal
	// jQuery 2.0.2
	script(src='/js/libs/jquery.min.js')
	// jQuery UI 1.10.3
	script(src='/js/jquery-ui-1.10.3.min.js', type='text/javascript')
	// Bootstrap
	script(src='/js/bootstrap.min.js', type='text/javascript')
	// Morris.js charts
	script(src='/js/libs/raphael-min.js')
	script(src='/js/plugins/morris/morris.min.js', type='text/javascript')
	// Sparkline
	script(src='/js/plugins/sparkline/jquery.sparkline.min.js', type='text/javascript')
	// jvectormap
	script(src='/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js', type='text/javascript')
	script(src='/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js', type='text/javascript')
	// fullCalendar
	script(src='/js/plugins/fullcalendar/fullcalendar.min.js', type='text/javascript')
	// jQuery Knob Chart
	script(src='/js/plugins/jqueryKnob/jquery.knob.js', type='text/javascript')
	// fusionmaps
	script(src='/js/plugins/fusioncharts/fusioncharts.js',type='text/javascript')
	script(src='/js/plugins/fusioncharts/fusioncharts.maps.js',type='text/javascript')
	script(src='/js/plugins/fusioncharts/themes/fusioncharts.theme.fint.js',type='text/javascript')




	// Bootstrap WYSIHTML5
	script(src='/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js', type='text/javascript')
	// iCheck
	script(src='/js/plugins/iCheck/icheck.min.js', type='text/javascript')
	// AdminLTE App
	script(src='/js/AdminLTE/app.js', type='text/javascript')
	// AdminLTE dashboard demo (This is only for demo purposes)
	script(src='/js/AdminLTE/dashboard.js', type='text/javascript')
	// AdminLTE for demo purposes
	script(src='/js/AdminLTE/demo.js', type='text/javascript')

	script.

		console.log("This is a APOTEST - Template")	


		Morris.Bar({
			element: 'bar-chart1',
			data: !{JSON.stringify(data3)},
			xkey: 'x',
			ykeys: ['ytar','yscience'],
			labels: ['TAR','Science'],
			stacked: 'true',
			hideHover: 'auto',
			barColors: ["#0098ef", "#00a65a"]
		});

